.board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    margin-top: 20px;
}
#go-back-btn {
    border: none;
    background: #457b9d;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(255, 255, 255);
}

#sort-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
    padding-left: 15px;
    overflow: visible;
}

#sortOption {
    border-radius: 5px;
    padding: 5px;
    color: #457b9d;
}

#sortOption:focus {
    background-color:rgba(255, 255, 255);
    color: #36454F;
}

#all-boards-btn {
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px; 
    box-shadow: 2px 2px 1px #457b9d;;
    background-color:rgba(255, 255, 255);
    color: #36454F;
    font-weight: bold;
}