#all-boards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#new-btn {
    padding: 10px 15px;
    background-color: #36454F;
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(255, 255, 255);
} 

#all-boards > button:focus { 
    outline: none;
}

#all-boards > button:focus-visible { 
  outline: 2px solid #ffffff; 
}

#show-form-bg{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.87);
}
.boards-section {
    /* border: ivory 2px solid; */
    margin: 1rem;
    padding: 0.5rem;
}

#boards-list {
    list-style-type: none;
}
