* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Layout Styles */
#app {
  display: flex;
  flex-direction: column;
}

#app > h1 {
  text-align: center;
  margin: 0.5rem;
  border-bottom: 2px solid #36454F;
  max-width: 100%;
}